#sideMenu {
    height: 100%;
    background-color: lightgray;
    overflow-y: hidden;
    border-right: 2px solid #8080804f;

    ul {
        margin: 0px;
        list-style: none;
        padding: 0px;

        li {
            padding: 20px;
            border-top: 2px solid #8080804f;
            font-weight: bold;
            color: #727171;

            &:hover {
                cursor: pointer;
                background: gray;
                color: black;
            }
        }
    }
}