#sideMenu {
    height: 100%;
    background-color: lightgray;
    overflow-y: hidden;

    ul {
        margin: 0px;
        list-style: none;
        padding: 0px;

        li {
            padding: 20px;
            border-bottom: 2px solid #8080804f;
            border-right: 2px solid #8080804f;
        }
    }
}